<?xml version="1.0"?>
<configuration>
	<appSettings>
		<app>
			<root>/users/peterwerk/github/toolkitconsole</root>
			<logPath>/users/peterwerk/projects/log</logPath>
			<resourcesPath>/users/peterwerk/github/toolkitconsole/generalutilities/resources</resourcesPath>
			<outputPath>/users/peterwerk/projects/output</outputPath>
		</app>
		<logutil>
			<IsSwitchedOn>true</IsSwitchedOn>
			<IsTimeStampLogged>true</IsTimeStampLogged>
			<IsCategoryLogged>false</IsCategoryLogged>
			<IsReturnLogged>false</IsReturnLogged>
			<IsClassNameLogged>false</IsClassNameLogged>
			<IsMethodNameLogged>false</IsMethodNameLogged>
			<IsSeverityLogged>false</IsSeverityLogged>
			<IsSameTextCounted>false</IsSameTextCounted>
			<TextWidth>132</TextWidth>
			<DirName>/users/peterwerk/projects/log</DirName>
			<FileName>LogUtil</FileName>
			<HasFileNameTimestamp>true</HasFileNameTimestamp>
			<ThresholdMillis>1</ThresholdMillis>
			<FilterCategory>All</FilterCategory>
		</logutil>
		<txttohtml>
			<prefix>T2H_</prefix>
			<baseFolderPath>/Users/peterwerk/GitHub/ToolKitConsole/GeneralUtilities</baseFolderPath>
			<resourceFolderName>Resources/TxtToHtml</resourceFolderName>
			<inputFileName>input.txt</inputFileName>
			<indexType>Name</indexType>
			<indexTitle>Index</indexTitle>
			<outputPath>*appOutputPath</outputPath>
			<outputSubFolderName>files</outputSubFolderName>
			<backgroundImage>background.gif</backgroundImage>
			<styleSheet>style.css</styleSheet>
		</txttohtml>
		<csvtoxml>
			<baseFolderPath>/Users/peterwerk/GitHub/ToolKitConsole/GeneralUtilities/Resources/CsvToXml</baseFolderPath>
			<inputFileName>input.csv</inputFileName>
			<outputPath>*appOutputPath</outputPath>
			<splitChar>";"</splitChar>
			<outputRootFolderName>output</outputRootFolderName>
		</csvtoxml>
		<xmldbmanager>
			<baseFolderPath>/Users/peterwerk/GitHub/ToolKitConsole/GeneralUtilities/Resources/XmlDBManager</baseFolderPath>
			<dBFileName>DB.xml</dBFileName>
		</xmldbmanager>
		<outputwrapper>
			<hasConsoleOutput>true</hasConsoleOutput>
			<hasLogUtilOutput>true</hasLogUtilOutput>
			<hasXmlOutput>true</hasXmlOutput>
			<xmlDirName>/users/peterwerk/projects/log</xmlDirName>
			<xmlFileName>XmlLog</xmlFileName>
		</outputwrapper>
		<graphviz>
			<baseFolderPath>/Users/peterwerk/GitHub/ToolKitConsole/GeneralUtilities/Resources/GraphViz</baseFolderPath>
			<inputFileName>GraphViz_Color.dot</inputFileName>
			<outputPath>*appOutputPath</outputPath>
			<outputRootFolderName>/users/peterwerk/projects/output</outputRootFolderName>
		</graphviz>
	</appSettings>
</configuration>